#main.height-100
  // h1 Comma AI Coding Challenge
  transition
    .header(v-show="ready")
      .frow.height-100.justify-between.items-center
        .frow
          img(src="./comma-dark.png")
          span comma.ai
        button.mono(@click.prevent="reset") clear
  transition
    .map.height-100(v-show="ready", ref="map")
  .frow.centered(v-show="!ready && !loading")
    form(ref="form", @submit.prevent="submit", novalidate)
      .frow.centered
        img.logo(src="./comma-white.png")
        h1 comma.ai
      .frow.row-start
        h2 Speed Analysis
      .frow
          label.mono.align-center
            p Select local data set(s)
            input.mono(ref="input", @change="available = true", name="files", type="file", accept=".json,application/json", multiple, required)
      .frow.justify-center
        .col-sm-3-5
          button.mono.width-100(type="submit", :disabled="!available") Load
      .frow
        p &mdash;&nbsp;or&nbsp;&mdash;
      .frow.justify-center
        .col-sm-3-5
          button.mono.width-100(@click.prevent="sample") Load Sample Data
      .frow
        p
          em WARNING 50+ MB download
  .frow.centered(v-show="loading")
    h2.loading loading...
