extends ~begin-build/index.pug

append meta
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|PT+Mono", rel="stylesheet")

block scripts
  script.
    window.initMap=function(){window.mapsReady=true}
  script(src=`https://maps.googleapis.com/maps/api/js?v=3&libraries=geometry&key=${props.maps.key}&callback=initMap` async defer)
